
        h1{
            color: #ffb936;
            font-size: 50px;
            text-align: center;
            
            
                }
        
    
              
        .p{
            opacity: 0.7;
            background-color: floralwhite;
            font-size: 20px;
            border-radius: 10px;
             text-align: center;
            padding: 20px;
        }
       
        